img {
    justify-content: center;
}

#social {
    text-align: right; 
}

#icons {
    display: inline-block;
    background: transparent;
    padding-right: 40px;
    padding-left: 20px; 
    margin: 0; 
}