body {
    font-size: 14px;
    line-height: 24px;
    background-image: url("images/trees.png");
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
    color: white;
}

header {
    background-image: url("images/stardust_@2X.png")
}

h1 {
    float: left;
    font-size: 28px;
    margin-left: 10px;
    color: white;
}

.col-left {
    background-color: grey;
    color: white;
}

h4 {
    font-weight: bold;
    font-size: 18px;
    color: black; 
}

h3 {
    color: black;
}

.col-right {
    background-color: grey;
    color: white; 
}

.card-style {
    color: black;
    display: inline-block;
    margin: 10px;
}

#img {
    float: left;
    margin: 5px;
}

#spacing {
    padding-left: 10px;
    padding-right: 10px;
}



